#hal {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    background: linear-gradient(to bottom, #282c34, #1d2a34);
    border: 1px solid #464b55;
}

#hal2 {
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background: linear-gradient(to bottom, #282c34, #1d2a34);
    border: 1px solid #464b55;
}

@media (max-width: 1400px) {
    #hal {
        height: 30%;
        width: 30%;
    }
}

h5, h3, ul, li, p, h1 {
    color: #e3e0dc;
}
