#head {
    list-style-type: '-';
}

a:visited {
    color: blueviolet;
}

#qual {
    background-color: #202021;
    box-shadow: 0px 0px 10px #565d6d;
}


#data {
    box-shadow: 0px 0px 7px #565d6d;
}
