/* Global styles for the entire page */
.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  background-color: #282c34;
  overflow-y: auto;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

/* Styles for the main title section */
#title {
  height: 100vh;
  width: 100vw;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url('bb.png');
    background-size: cover;
    opacity: 0.2;
  }
}

h5, h4, h3, ul, li, p {
  color: white;
}

#hr {
  color: white;
}

#first {
  position: relative;
  padding: 2%;
  width: 40%;

  @media screen and (max-width: 1400px) {
    width: 80%;
    height: 100%;
  }

  @media screen and (max-width: 991px) {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-height: 600px) {
    height: 60%;
    width: 60%;
  }

  @media screen and (max-height: 600px) and (min-width: 1400px) {
    height: 20%;
    width: 30%;
  }

  @media screen and (max-height: 500px) {
    height: 20%;
    width: 50%;
  }

  @media screen and (max-height: 500px) and (min-width: 1400px) {
    height: 20%;
    width: 30%;
  }
}

#navigation {
  @media screen and (max-width: 991px) {
    display: none;
    
  }
}

#about_main, #skills, #qualifications, #project, #contact_me {
  position: relative;
  width: 50%;

  @media (max-width: 1400px) {
    width: 70%;
  }

  @media screen and (max-width: 991px) {
    width: 90%;
  }
}

#footer {
  width: 100%;
  position: relative;
}
